<configuration debug="true">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd HH.mm.ss}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level %d{HH:mm:ss.SSS} %msg \(%class.%method @ line %line\)%n</pattern>
        </encoder>
    </appender>

    <logger name="org.jline.utils.Log" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
